body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 850px;
    margin: 0 auto;
    background-color: #008cba;
    padding: 20px;
    border-radius: 8px;
    border: 3px solid #0051a8;
}

h1, h2 {
    text-align: center;
    color: #ffffff;
}

.resume-section {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #004fb5;
    border-radius: 6px;
    background-color: #0098cb;
}

p {
    margin: 5px 0;
    color: #ffffff;
    padding: 5px;
    font-size: 18px;
}

p[contenteditable="true"] {
    border: 1px dashed #ccc;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #00abe4;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

button:hover {
    background-color: #007ad1;
}

.hidden {
    display: none;
}
#editForm {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #007399;
    border-radius: 6px;
    background-color: #0092c3;
}

#editForm label {
    display: block;
    margin-top: 10px;
}

#editForm input, #editForm textarea {
    width: 100%;
    margin-top: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

